# Chapter 5 Notes 
Link: https://ocw.mit.edu/courses/6-0001-introduction-to-computer-science-and-programming-in-python-fall-2016/resources/lecture-5-tuples-lists-aliasing-mutability-and-cloning/

## Compound Data Types and their characteristics
- Tuple
    - immutable 
        - i.e t= (2)
        - t[0] =2

In [83]:
#The below tests our different string sets and prints them 
t = (2, 'mit',3) + (5,6)

In [84]:
t[1:2] #note the comma here, indicates that its a tuple with one element

('mit',)

In [85]:
len(t)
t[1]

'mit'

In [86]:
t[1] = 4 # equals an error because its immutatable

TypeError: 'tuple' object does not support item assignment

In [87]:
#Tuples are useful
x = 1 
y = 2
(x,y) = (y,x) #switches the variable assignemnts
x,y

(2, 1)

In [88]:
def quotient_and_remainder(x,y):
    '''
    Args: 
        x, int 
        y, int 
    Returns: 
        Quiotent: q 
        Remainder: r
    '''
    q = x//y # // means quiotent is only a whole number
    r = x % y
    return (q,r)
(quot,rem) = quotient_and_remainder(4,5)
print(quot,rem)

0 4

In [89]:
aTuple = ((),(),())
def get_data(aTuple):
    '''
    Args: a blank tuple, made out of 3 sets 
    
    returns: the assignment of variables (a,b,&c) that are assigned in the test variables,
        -a is the minumum of the trio of inputs 
        -b is the max of the trio of inputs 
        -c is the amount of unique numbers in the tuple
    '''
    nums = ()
    words = ()
    for t in aTuple:
        nums = nums + (t[0],)
        if t[1] not in words:
            words = words + (t[1],)
    min_n = min(nums)
    max_n = max(nums)
    unique_words = len(words)
    return (min_n, max_n,unique_words)

In [90]:
test =((1,'a'),(2,'b'),(1,'a'),(7,'b'))
(a,b,c) = get_data(test)
print('a:',a,'b:',b,'c:',c)

a: 1 b: 7 c: 2

In [91]:
tswift = ((2014,'Katy'),
          (2014,'Harry',
           2012,'Jake',
           2010,'Taylor',
           2008,'Joe'))
(min_year,max_year, num_people) = get_data(tswift)

'''
Running the same definition to check how many songs Swift wrote about certain people in 2014. 

Can be altered to change a,b,c to min_year,max_year, & num_people 

'''
print("From", min_year,'to',max_year,"Taylor Swift wrote songs about", num_people, 'people')

From 2014 to 2014 Taylor Swift wrote songs about 2 people

# Lists
- mututable

In [92]:
#Below are an example of lists
a_list =[]
L = [2,'a',4,[1,2]]

In [93]:
#length of the list
len(L)

4

In [94]:
L[0]

2

In [95]:
L[2] +1

5

In [96]:
L[3]

[1, 2]

In [97]:
L[4] #error, there are not 4 values in the list

IndexError: list index out of range

In [98]:
i =2
L[i-1] #pulls L[1]

'a'

In [99]:
#Changing a List, not allowed with tuples
K = [2,1,3]
K[1] =5
K

[2, 5, 3]

In [100]:
#Iterating over a list 
total = 0
for i in L:
    total +=1
print (total)

4

In [101]:
L = [2,1,3]
L.append(5) #adding 5 to the end 
L

[2, 1, 3, 5]

In [102]:
#Adding two lists together 
L1 = [2,1,3]
L2 = [4,5,6]
L3 = L1 + L2
L3

[2, 1, 3, 4, 5, 6]

In [103]:
#Extending L1 to include 0,6 to the end 
L1.extend([0,6])
L1

[2, 1, 3, 0, 6]

In [104]:
#Altering L1 to exclude 3
L1.remove(3)
L1

[2, 1, 0, 6]

In [105]:
L = [2,1,3,6,3,7,0]
L.remove(2) # look for an element of 2 and remove it 
L

[1, 3, 6, 3, 7, 0]

In [106]:
#Removing all 3's from L
L.remove(3)
L

[1, 6, 3, 7, 0]

In [107]:
#Removing the second value of L
del(L[1])
L

[1, 3, 7, 0]

In [108]:
L.pop() #deletes element furthest to right
L

[1, 3, 7]

In [109]:
s = "I<3 cs"

In [110]:
#Splits string into a list
list(s)

['I', '<', '3', ' ', 'c', 's']

In [111]:
#Splits s on the <
s.split('<')

['I', '3 cs']

In [112]:
L = ['a','b','c']
L

['a', 'b', 'c']

In [113]:
#Joins the three values of the L list 
''.join(L)

'abc'

In [114]:
#Joins the three values of the L list with an _ between 
'_'.join(L)

'a_b_c'

In [115]:
#Overwrites L to make new list L
L = [9,6,0,3]

In [116]:
# Notice how it doesn't sort 
sorted (L)
L

[9, 6, 0, 3]

In [117]:
L.sort() #mutates L and sorts by numerical value 
L

[0, 3, 6, 9]

In [118]:
#Sorts L by reverse order 
L.reverse()
L

[9, 6, 3, 0]

In [119]:
# assigns variables to a & b and prints them 
a = 1
b =a
print(a)
print (b)

1
1

In [120]:
#Creates variable warm, and duplicates the values to hot (same change) and adds pink to it. Prints them both, 
warm = ['red','orange','yellow']
hot = warm
hot.append('pink')
print(hot)
print(warm)

['red', 'orange', 'yellow', 'pink']
['red', 'orange', 'yellow', 'pink']

In [121]:
#Creates a copy of cool called chill. Changes to Chill doesn't alter Cool. Prints them both 
cool = ['blue','green','grey']
chill = cool[:]
chill.append('black')
print(chill)
print(cool)

['blue', 'green', 'grey', 'black']
['blue', 'green', 'grey']

In [122]:
#warm.sort() returns None because it should be sorted(warm, as showed on the next block)
warm = ['red','yellow','orange']
sortedwarm = warm.sort()
print(warm)
print(sortedwarm)

['orange', 'red', 'yellow']
None

In [123]:
cool =['grey','green','blue']
sortedcool= sorted(cool) #difference between none and sorted is this line 
print(cool)
print(sortedcool)

['grey', 'green', 'blue']
['blue', 'green', 'grey']

In [124]:
warm = ['yellow', 'orange']
hot =['red']
brightcolors = [warm]
brightcolors.append(hot)
print(brightcolors)

[['yellow', 'orange'], ['red']]

In [72]:
#hot and brightcolors are two seperate tuples
hot.append('pink')
print (hot)
print (brightcolors)

['red', 'pink']
[['yellow', 'orange'], ['red', 'pink']]

In [76]:
L1 = [2,3,4]
L2 = [1,2,5]
def remove_dups(L1,L2):
    L1_copy = L1[:]
    for e in L1_copy:
        if e in L2:
            L1.remove(e)
#Returns None because there is no return command